<div class="banner" id="page-top">
  <div class="banner-content">
    <img src="https://res.cloudinary.com/dqxb19mjv/image/upload/v1546001615/verein-jakobshagen/icons/icon_sonne.svg" alt="">
    <h1 class="no-bottom-margin">Lebenswerte Region</h1>
    <h1 class="no-top-margin">Jakobshagen e.V.</h1>
    <div class="navbar">
      <a href="#ueberuns">Über uns</a>
      <a href="#seeweg">Seeweg</a>
      <a href="#gemeindehaus">Gemeindehaus</a>
      <a href="#veranstaltungen">Veranstaltungen</a>
      <a href="#kontakt">Kontakt</a>
    </div>
  </div>
</div>
