<div class="banner">
  <div class="banner-content">
    <img src="https://res.cloudinary.com/dqxb19mjv/image/upload/v1546001615/verein-jakobshagen/icons/icon_sonne.svg" alt="">
    <h1 class="no-bottom-margin">Lebenswerte Region</h1>
    <h1 class="no-top-margin">Jakobshagen e.V.</h1>
  </div>
</div>
