// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  margin: 0
}

#ueberuns {
  margin: -20vw 7vw 0
}

p {
  font-family: 'PT Sans Narrow', "sans-serif";
  font-size: 22px;
}

.calendar {
  margin-left: 7vw;
  margin-right: 7vw;
}

a {
  font-family: "Yanone Kaffeesatz", "Helvetica", "sans-serif";
  text-decoration: none;
}

.dropdown-menu {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Yanone Kaffeesatz", "Helvetica", "sans-serif";
}
