.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546001453/verein-jakobshagen/banner/banner_winter.png');
  background-size: cover !important;
  display: flex;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  margin-top: 50px;
}

.navbar {
  margin-top: 225px;
  font-weight: 700px;
  font-size: 25px;
  font-family: $headers-font;
  display: flex;
  a {
    color: white;
    margin: 30px 20px;
    &:hover {
      text-decoration: none;
      color: #E7CFB0;
    }
  }
}
