.banner {
  height: 130vh;
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546001453/verein-jakobshagen/banner/banner_winter.png');
  background-size: cover !important;
  background-position: center;
}

.banner-flexbox {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  margin-top: 50px;
}

.navbar {
  margin-top: 185px;
  font-weight: 700px;
  font-size: 25px;
  font-family: $headers-font;
  display: flex;
  text-shadow: black 0 3px 8px;
  a {
    color: white;
    margin: 30px 20px;
    &:hover {
      text-decoration: none;
      color: #E7CFB0;
    }
  }
}

.navbar-mobile {
  display: none;
}

@media only screen and (max-width: 650px) {
  .navbar {
    a {
      margin: 30px 10px;
    }
  }
}

@media only screen and (max-width: 580px) {
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: block;
    text-align: right;
    i {
      padding: 20px;
      color: white;
      text-shadow: gray 0 3px 8px;
    }
  }
}
