/* Dropdown menu */
.navbar-dropdown-menu {
  margin-top: -3px;
  margin-right: 20px;
  border-color: white;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: black !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $heading !important;
}
