body {
  * {
    color: $main-font-color;
  }
}

.no-top-margin {
  margin-top: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}

// .margin-left-right {
//   margin-left: 50px;
//   margin-right: 50px;
// }
