h5 {
  font-family: $body-font;
  font-weight: 700;
}

h2 {
  margin-bottom: 5vw;
}
.section-content {
  background-repeat: no-repeat;
  background-size: 100%;
  h2 {
    color: $heading;
  }
}

#rect_1 {
  margin-top: -18vw;
}

#rect_4 {
  margin-top: -2vw;
}


.rectangle {
  img {
    width: 100%;
    height: auto;
  }
}

.about {
  margin-top: -20vw;
  .section-content {
    background-size: 50%;
    background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/sun_background.png');
    background-position: right top;
    padding-bottom: 129px;
  }
}
.lakepath {
  margin-top: -24vw;
  .section-content {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/lake_background.png');
  background-position: center;
  }
}

.city-house {
  margin-top: -30vw;
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/town_background.png');
  background-position: -4% 20%;
  background-repeat: no-repeat;
  background-size: 50%;

}

.events {
  margin-top: -30vw;
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/events_background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contact {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546260140/verein-jakobshagen/rectangle-elements/querlement_bottom_large.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 23vw;
  padding-bottom: 17vw;
  .section-content {
    text-align: right;
    p, h5 {
      margin-bottom: 0;
    }
  }
  .contact-section {
    margin: 30px 0;
  }
}

.main-section {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.content-flex-item {
  width: 45%;
}

.thin-section {
  padding: 7vw 7vw 0;
}

.image-div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  width: 55%;
}
.lakepath-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165680/verein-jakobshagen/main-pictures/lakepath.png');
}
.city-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165681/verein-jakobshagen/main-pictures/city.png');
}
.events-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165685/verein-jakobshagen/main-pictures/field.png');
}
.contact-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165682/verein-jakobshagen/main-pictures/lake.png');
}

.calendar {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.privacy {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/sun_background.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 88% top;
  display: flex;
  justify-content: flex-end;
  padding: 107px 0;
  margin: -130px 100px 0;
  a {
    color: $main-font-color;
    display: block !important;
    font-weight: 700;
    &:hover {
      text-decoration: none;
      color: $heading;
    }
  }
}

@media only screen and (max-width: 633px) {
  .main-section {
    flex-direction: column;
  }
  .content-flex-item {
    width: auto;
  }
  .image-div {
    height: 80vh;
    width: 100%;
    order: -1;
  }
  .section-content {
    margin-bottom: 25px;
  }
  .events {
    margin-top: -24vw;
  }
  .city-house {
    margin-top: -28vw;
    background-position: 53% bottom;
    background-size: 90%;
  }
  .lakepath {
    margin-top: -21vw;
  }
  .about {
    .section-content {
      padding-bottom: 0;
    }
  }
  .contact {
    padding-top: 0;
  }
  .privacy {
    background-position: 88% 77%;
    padding-bottom: 45px;
    background-size: 50%;
    margin-right: 25px;
  }
}
