.section-content {
  background-repeat: no-repeat;
  background-size: 100%;
  h2 {
    color: #B77745;
  }
}
.about {
  .section-content {
    background-size: 50%;
    background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/sun_background.png');
    background-position: right top;
  }
}
.lakepath {
  .section-content {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/lake_background.png');
  background-position: center;
  }
}

.city-house {
  .section-content {
    background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/town_background.png');
    background-position: center;
  }
}

.events {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/events_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.content-flex-item {
  width: 45%;
}

.thin-section {
  padding: 100px 100px 0;
}

.image-div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  width: 55%;
}
.lakepath-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165680/verein-jakobshagen/main-pictures/lakepath.png');
}
.city-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165681/verein-jakobshagen/main-pictures/city.png');
}
.events-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165685/verein-jakobshagen/main-pictures/field.png');
}

.calendar {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  h5 {
    font-family: $body-font;
    font-weight: 700;
  }
}
