#home {
  background-color: #D23333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.about {
  .section-content {
    background-size: 50%;
  }
}

.section-content {
  background-repeat: no-repeat;
  background-size: 100%;
  h2 {
    color: #B77745;
  }
}

.main-section {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.thin-section {
  padding: 100px 100px 0;
}

.content-flex-item {
  width: 45%;
}

.image-div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  width: 55%;
}

.events.main-section {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/events_background.png');
}

.lakepath-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165680/verein-jakobshagen/main-pictures/lakepath.png');
}
.city-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165681/verein-jakobshagen/main-pictures/city.png');
}
.events-image-div {
  background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165685/verein-jakobshagen/main-pictures/field.png');
}
