
<%= partial './components/banner' %>
<div class="container">
  <div class="about">
    <div class="section-content" style="background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/sun_background.png')">
      <h2>Über uns</h2>
      <p>Herzlich willkommen auf der Internetseite des kleinen Vereins Lebenswerte Region Jakobshagen e.V.!</p>
      <p>Eine kleine Gruppe von Einwohnern, Bewohnern und Besuchern des Dorfes Jakobshagen und des Ortsteils Stabeshöhe, haben den Verein gegründet, um den Interessen der Menschen im Dorf eine Plattform zum Austausch jeglicher Art zu geben.</p>
      <p>Der Wunsch des Vereins besteht darin, unser Dorf und die Region um das Dorf zu erhalten, zu verbessern und so allen – jung wie alt – einen lebenswerten Raum zu bieten, was in der heutigen – oft schnelllebigen – Zeit eine große Herausforderung ist.</p>
      <p>Die Vereinsmitglieder haben ihren Ursprung in Jakobshagen selber oder der Uckermark, oder dem Land Brandenburg. Einige kommen auch aus Berlin und aus östlichen und westlichen Bundesländern. </p>
      <p>Sie haben sich zusammengetan um Altes und Gutes zu bewahren, ohne dabei das Neue auszuschließen oder gar zu vergessen, ja wenn möglich aus der Verbindung, Besseres entstehen zu lassen im Interesse von Jakobshagen.</p>
    </div>
  </div>
</div>
<div class="lakepath main-section">
  <img src="https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165680/verein-jakobshagen/main-pictures/lakepath.png" alt="seeweg">
  <div class="section-content" style="background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/lake_background.png')">
    <h2>Der Seeweg</h2>
    <p>Begonnen haben wir mit einer Patenschaft für einen kleinen Weg, der ursprünglich das Dorf Jakobshagen mit dem Dorf Warthe verbunden hat und nunmehr Einwohnern, Bewohnern und Besuchern allgemein als Seeweg, also als Spazierweg zur Badestelle, dient.
    </p>
    <p>Das jährliche Wege-Fest erinnert an diese relativ spontane Aktion der ersten Vereinsmitglieder.</p>
    <p>Jährlich zu Pfingsten wird die Badestelle unseres Dorfes am großen Warthesee von den Mitgliedern des Vereins gereinigt und so die Badesaison eingeläutet.</p>
  </div>
</div>
<div class="lakepath main-section">
  <img src="" alt="">
  <div class="section-content" style="background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/town_background.png')">
    <h2>Der Seeweg</h2>
    <p>Begonnen haben wir mit einer Patenschaft für einen kleinen Weg, der ursprünglich das Dorf Jakobshagen mit dem Dorf Warthe verbunden hat und nunmehr Einwohnern, Bewohnern und Besuchern allgemein als Seeweg, also als Spazierweg zur Badestelle, dient.
    </p>
    <p>Das jährliche Wege-Fest erinnert an diese relativ spontane Aktion der ersten Vereinsmitglieder.</p>
    <p>Jährlich zu Pfingsten wird die Badestelle unseres Dorfes am großen Warthesee von den Mitgliedern des Vereins gereinigt und so die Badesaison eingeläutet.</p>
  </div>
</div>
<div class="lakepath main-section">
  <img src="" alt="">
  <div class="section-content" style="background-image: url('https://res.cloudinary.com/dqxb19mjv/image/upload/v1546165629/verein-jakobshagen/content-background-images/events_background.png')">
    <h2>Der Seeweg</h2>
    <p>Begonnen haben wir mit einer Patenschaft für einen kleinen Weg, der ursprünglich das Dorf Jakobshagen mit dem Dorf Warthe verbunden hat und nunmehr Einwohnern, Bewohnern und Besuchern allgemein als Seeweg, also als Spazierweg zur Badestelle, dient.
    </p>
    <p>Das jährliche Wege-Fest erinnert an diese relativ spontane Aktion der ersten Vereinsmitglieder.</p>
    <p>Jährlich zu Pfingsten wird die Badestelle unseres Dorfes am großen Warthesee von den Mitgliedern des Vereins gereinigt und so die Badesaison eingeläutet.</p>
  </div>
</div>
